@import './tailwind_files/base.css';
@import './tailwind_files/components/export.css';
@tailwind utilities;

@layer utilities {
    /* * Grid */
    .row {
        @apply -mx-4 flex flex-wrap;
    }
    .row > .col {
        @apply px-4;
    }

    .bg-joy {
        background-image: url('./../images/index/index_04_bg.png');
    }
    .bg-joyWide {
        background-image: url('./../images/index/bg_menu_01.png');
    }

    .bg-wall {
        background-image: url('./../images/index/index_bg_texture.png');
    }

    .bg-block-gray {
        background-image: url('./../images/index/index_bg_glay.png');
    }

    .bg-winder {
        background-image: url('./../images/index/05/index_05_bg_icons.png');
    }

    .bg-winner-title {
        background-image: url('./../images/index/05/index_05_bg_title.png');
    }

    .bg-winner-award {
        background-image: url('./../images/index/05/index_05_bg_award.png');
    }
}

@layer components {
    /* * default Nav background */
    nav .logo img.logo-red {
        @apply inline-block;
    }
    nav .logo img.logo-white {
        @apply hidden;
    }
    nav .nav-menubar {
        @apply bg-primary text-white;
    }

    /* * joy Nav background */
    .nav-joy {
        @apply bg-joy;
    }
    .bg-icons {
        background-image: url('./../images/index/index_01_cut3_icons.png');
    }
    .bg-icons-red {
        background-image: url('./../images/index/index_05_bg_icons.png');
    }

    .slide-up,
    .slide-down {
        @apply overflow-hidden;
    }
    .slide-up > *,
    .slide-down > * {
        @apply transform -translate-y-101 transition-all;
    }
    .slide-down > * {
        @apply transform translate-y-0;
    }

    .flex-row-center {
        @apply flex flex-row items-center justify-center;
    }
    .flex-col-center {
        @apply flex flex-col items-center justify-center;
    }

    .w-h-full {
        @apply w-full h-full;
    }

    .video-container {
        @apply relative h-0 overflow-hidden;
        padding-bottom: 56.25%;
        padding-top: 30px;
    }
    .video-container iframe {
        @apply absolute top-0 left-0 w-h-full;
    }
}
