<footer class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col w-full"><div class="text-white">footer</div></div>
        </div>
    </div>
</footer>
<script src="./assets/js/vendors.js"></script>
<script src="./assets/js/all.js"></script>
