<footer>
    <div class="container">
        <div class="footer-wrap">
            <div class="footer-logo">
                <img src="../assets/images/index/nav_footer/logo_40thYears-white.svg">                
            </div>
            <div class="footer-community">
                <ul>
                    <li>
                        <a class="btn-rounded" href="javascript:;">
                        <img class="max-h-8 lg:max-h-4 transform -translate-x-3/7 -translate-y-3/7" src="assets/images/index/nav_footer/icon_facebook.svg" alt="Facebook Link"></a> 
                    </li>
                    <li>
                        <a class="btn-rounded" href="javascript:;">
                            <img class="max-h-8 lg:max-h-4" src="assets/images/index/nav_footer/icon_instagram.svg" alt="Facebook Link">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <p>COPYRIGHT JOY CORPORATTION. ALL RIGHTS RESERVED.</p>
    </div>
</footer>
<script src="./assets/js/vendors.js"></script>
<script src="./assets/js/all.js"></script>
