<div class="navWrap hide">
    <nav class="nav nav-joy">
        <div class="container">
            <div class="flex justify-between flex-wrap">
                <div class="logo">
                    <a href="javascript:;">
                        <img
                            class="logo-red"
                            src="assets/images/index/nav_footer/logo_menu_red.svg"
                            style="max-width: 170px"
                            alt="Joy logo"
                        />
                        <img
                            class="logo-white"
                            src="assets/images/index/nav_footer/logo_menu_white.svg"
                            style="max-width: 170px"
                            alt="Joy logo"
                        />
                        <h1></h1>
                    </a>
                </div>
                <div class="flex items-center lg:hidden">
                    <button class="px-3 py-2 bg-primary text-white" data-menubar>
                        <i class="fas fa-bars"></i>
                    </button>
                    <!-- <button class="px-3 py-2 text-white text-4xl" data-menuclose><i class="fas fa-times"></i></button> -->
                </div>
                <ul class="nav-menu" data-menu>
                    <!-- page -->
                    <li class="nav-menu__wrap">
                        <ul class="nav-menu__wrap__list--col">
                            <li>
                                <a class="nav-btn active" href="#" data-scrollTo="section-header"
                                    >首頁時光照相館</a
                                >
                            </li>
                            <li>
                                <a class="nav-btn" href="#" data-scrollTo="section-studio"
                                    >進入攝影棚</a
                                >
                            </li>
                            <li>
                                <a class="nav-btn" href="#" data-scrollTo="section-album"
                                    >時光相冊</a
                                >
                            </li>
                            <li>
                                <a class="nav-btn" href="#" data-scrollTo="section-videos"
                                    >放映室</a
                                >
                            </li>
                            <li>
                                <a class="nav-btn" href="#" data-scrollTo="section-activity"
                                    >活動辦法</a
                                >
                            </li>
                            <li>
                                <a class="nav-btn" href="#" data-scrollTo="section-winner"
                                    >得獎名單</a
                                >
                            </li>
                        </ul>
                    </li>
                    <!-- social -->
                    <li class="nav-menu__wrap">
                        <ul class="nav-menu__wrap__list--row" style="font-size: 0">
                            <li>
                                <a class="btn-rounded" href="javascript:;">
                                    <img
                                        class="max-h-8 lg:max-h-4 transform -translate-x-3/7 -translate-y-3/7"
                                        src="assets/images/index/nav_footer/icon_facebook.svg"
                                        alt="Facebook Link"
                                    />
                                </a>
                            </li>
                            <li>
                                <a class="btn-rounded" href="javascript:;">
                                    <img
                                        class="max-h-8 lg:max-h-4"
                                        src="assets/images/index/nav_footer/icon_instagram.svg"
                                        alt="Facebook Link"
                                    />
                                </a>
                            </li>
                            <li>
                                <a class="btn-rounded" href="javascript:;">
                                    <img
                                        class="max-h-8 lg:max-h-4"
                                        src="assets/images/index/nav_footer/icon_joy.svg"
                                        alt="Facebook Link"
                                    />
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="nav__stuffing"></div>
</div>
